{% extends 'video_clips/base.html' %}
{% load static %}
{% load thumbnail %}
{% load bootstrap4 %}
{% load vc_tags %}
{% block title %}{{title}}{% endblock %}
{% block content %}



    <button type="button" class="btn btn-primary anim-bg-gradient mnm">
      <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#video_modal"
         data-bs-video-url="https://vk.com/video_ext.php?oid=194915339&id=456239073&hash=878f097c98ce913f">Смотреть</a>
    </button>
    <div class="modal fade" id="video_modal" tabindex="-1" aria-labelledby="videoInterview" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content text-bg-dark">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 " id="videoInterview">Заголовок модального окна</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>

                <div class="modal-body">
                    <div class='embed-container'><iframe src="" width="640" height="360" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture">
                    </iframe></div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}