
html, body {
  height: 100%;
  font-family: "Luminari";
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
  margin-bottom: 1px;
}

.footer {
  flex: 0 0 auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.hpb {
  font-family: "Luminari";
  background-image: linear-gradient(90deg, #ff0000, #fff123, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: 10px;
  top: 8px;
}


.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flo1 {
  margin: 0;
  position: relative;
  top: 100em;
}

.flo2 {
  margin: 0;
  position: relative;
  top: 105em;
}

.erppppppppppppppppp {
  border-bottom: 1px solid #000000;
}

.lak {
  position: relative;
  bottom: 34px;
}

.dmq {
  position: relative;
  bottom: 10px;
}

.rla {
  padding-top: 35px;
}

.nwd {
  position: relative;
  top: 2px;
}

.amu {
  position: relative;
  top: 25px;
}

.amu1 {
  margin-left: 7%;
  margin-right: 7%;
}

.lfi {
  position: relative;
  top: 10px;
}

.rln {
  position: relative;
  top: 5px;
}

.dmy1 {
  position: relative;
  top: 3px;
  color: #fff123;
}

.dmy2 {
  position: relative;
  top: 3px;
  color: #658521;
}

.kjx {
  color: #000000;
}

.klg {
  background-image: linear-gradient(0deg, #000000, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vkh {
  background-image: linear-gradient(90deg, #000000, #ff0000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lbe {
  background: linear-gradient(90deg, #000000, #ff0000, #000000);
  background-size: 200% 100%;
  background-position: 100% 0;
  border: 0;
  color: white;
  cursor: pointer;
}

.lbe1 {
  background: linear-gradient(90deg, #000000, #ff0000, #000000);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s;
  border: 0;
  color: white;
  cursor: pointer;
}
.lbe1:hover {
  background-position: 0 0;
}

.lbe2 {
  background: linear-gradient(90deg, #000000, #ff0000);
  border: 0;
  color: white;
  cursor: pointer;
}


.bal {
  height: 42px;
  width: 80px;
}

.bal1 {
  height: 32px;
  width: 32px;
}

.agn {
  position: relative;
  bottom: 5px;
}

.agn1 {
  position: relative;
  bottom: 6px;
  right: 12px;
}

.qkl {
  margin-bottom: 12px;
}

.ndl {
  margin-top: 35px;
  margin-left: 40px;
}

.alu {
  padding-top: 40px;
}

.nnk {
  font-family: "Luminari";
  font-size: 20px;
  background-color: #2AA5A0;
  background-image: linear-gradient(90deg, #ff0000, #fff123, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 20px;
}

.nfn {
  position: relative;
  top: 18px;
}

.alr {
  position: relative;
  top: 10px;
}

.x4 {
  position: relative;
  top: 8px;
}

.x3 {
  position: relative;
  bottom: 8px;
}

.x5 {
  position: relative;
  bottom: 15px;
}

.val {
  position: relative;
  bottom: 32px;
}

.vjd {
  padding: 0px;
  margin: 0px;
  font-family: "Luminari";
  background-color: #2AA5A0;
  background-image: linear-gradient(90deg, #ff0000, #fff123, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  bottom: 3px;
}

.anim-bg-gradient {
  background: linear-gradient(120deg, #000000, #ff0000, #000000);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s;
  border: 0;
  padding: 10px 15px;
  color: white;

  border-radius: 10px;
  cursor: pointer;
}
.anim-bg-gradient:hover {
  background-position: 0 0;
}

.anim-bg-gradient1 {
  background: linear-gradient(120deg, #000000, #ff0000, #000000);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s;
  border: 0;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
.anim-bg-gradient1:hover {
  background-position: 0 0;
}

.lfh {
  position: absolute;
}

#box4 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#box3 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#box2 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
#box1 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.gradient-border1:after {
  content: '';
  height: 21px;
  width: 21px;
  background: linear-gradient(90deg, #ff0000, #000000, #ff0000, #000000, #ff0000, #000000, #ff0000, #000000);
  border-radius: 50%;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.xcd {
  padding: 0px;
}

.zaq {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff0000;
  z-index: 1;
}


#box {
  position: relative;
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff0000;
  z-index: 1;
}
.gradient-border {
  --borderWidth: 2px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(90deg, #ff0000, #000000, #ff0000, #000000, #ff0000, #000000, #ff0000, #000000);
  border-radius: 50%;

  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.round {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  left: 71px;
}
.vhm {
  position: relative;
  bottom: 3px;
  right: 71px;
}


.section {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  border-radius: 15px;
}

.fgn {
  border: 2px solid #658521;
}

.section::-webkit-scrollbar {
  display: none;
}

.section_item {
  display: flex;
  justify-content: start;
  align-items: start;
  height: 96px;
  scroll-snap-align: center;
}


h3, h2, h5, h4 {
    font-family: "Luminari";
}

.jlm {
  font-family: "Luminari";
  background-image: linear-gradient(90deg, #000000, #000000, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.zfj {
  font-family: "Luminari";
  background-image: linear-gradient(90deg, #000000, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.back {
    background-image: url('/static/video_clips/images/fon1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.d7:after {content:""; clear:both; display:table}
.d7 form {
  width: auto;
  float: right;
}
.d7 input {
  width: 100px;
  height: 30px;
  padding-left: 15px;
  border-radius: 42px;
  font-family: "Luminari";
  outline: none;
  background: rgba(0, 0, 0, 0);
  transition: .3s linear;
}
.d7 input:focus {
  width: 170px;
}
.d7 button {
  background: none;
  border: none;
}


.bi {
    padding-bottom: 2px;   /*вертикальное позиционирование*/
    fill: currentColor;        /*цвет внутри объекта*/
}


.s1 {
    width: 220px;
}

.caw {
  margin: 0;
  padding 0;
  display: flex;
  margin-left: 0;
  padding-left: 0;
}

.caw li {
  list-style: none;
}

.animate-ul{margin: 0;padding: 4px;display: flex; margin-left: 0; padding-left: 0;}
.animate-ul li{list-style:none;margin-top: 12px;font-size:5em;font-family:fantasy;color:#484848;animation:ani 1.2s linear infinite}
.animate-ul li:nth-child(1){animation-delay:.2s}
.animate-ul li:nth-child(2){animation-delay:.6s}
.animate-ul li:nth-child(3){animation-delay:.8s}
.animate-ul li:nth-child(4){animation-delay:1s}
.animate-ul li:nth-child(5){animation-delay:1.4s}
.animate-ul li:nth-child(6){animation-delay:1.8s}
.animate-ul li:nth-child(7){animation-delay:1.12s}
@keyframes ani {
0%{color:#44848;text-shadow:none}
90%{color:#44848;text-shadow:none}
100%{color:#fff900;text-shadow:0 0 7px #fff900,0 0 70px #fff123}
}

.param {
    margin-left: 0;
    padding-left: 0;
}

.param li{list-style:none;}

@font-face {
    font-family: "Luminari";
    src: url('/static/video_clips/fonts/Luminari.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}